@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Great+Vibes&family=Momo+Trust+Display&family=Orbitron:wght@400..900&family=Parisienne&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* cursor: url("/src/assets/cursor.svg") 0 0, auto; */
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: blueviolet;
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.25s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(12px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.marquee-container {
  width: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.65);
  color: #fff;
  display: flex;
  align-items: center;
}

.marquee-text {
  white-space: nowrap;
  padding-left: 100%;
  font-size: 16px;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
